.container {
  max-width: 800px;
  margin: 40px auto;
}
.weather-app {
  background: radial-gradient(
    621px at 25.3% 13.8%,
    rgb(255, 255, 255) 0%,
    rgb(234, 236, 255) 90%
  );

  padding: 45px 45px 15px;

  border-radius: 30px;
  color: #0881a3;
  font-family: "Amaranth", sans-serif;
}
.futureWeather {
  text-align: center;
}
h3 {
  text-align: left;
}
p {
  color: #0881a3;
  font-size: small;
}
a {
  color: #0881a3;
}
#icon {
  margin-right: 10px;
  height: 100px;
  width: 100px;
}
img:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  content: attr(alt);
}

#current-temperature {
  font-size: 100px;
  line-height: 1;
  font-weight: 200;
}
