.container {
  max-width: 800px;
  margin: 40px auto;
}
.weather-app {
  background: radial-gradient(
    621px at 25.3% 13.8%,
    rgb(255, 255, 255) 0%,
    rgb(234, 236, 255) 90%
  );

  padding: 45px 45px 15px;

  border-radius: 30px;
  color: #0881a3;
  font-family: "Amaranth", sans-serif;
}
.futureWeather {
  text-align: center;
}
h3 {
  text-align: left;
}
p {
  color: #0881a3;
  font-size: small;
}
a {
  color: #0881a3;
}
